Repository basedosdados/pipelines, pull requests merged in 2022-09, with the labels that each got.

#204 [infra] Add dump_to_gcs utility for one-click-download
  pipelines/datasets/br_bd_indicadores/flows.py
  pipelines/datasets/br_jota/flows.py
  pipelines/datasets/br_tse_eleicoes/tasks.py
  pipelines/utils/dump_to_gcs/constants.py
  pipelines/utils/dump_to_gcs/flows.py
  pipelines/utils/dump_to_gcs/tasks.py
  pipelines/utils/tasks.py
  pipelines/utils/utils.py
  poetry.lock
  pyproject.toml
Labels: suporte

#208 [feat] fgv igp
  pipelines/datasets/br_fgv_igp/flows.py
  pipelines/datasets/br_fgv_igp/schedules.py
  pipelines/datasets/br_fgv_igp/tasks.py
  pipelines/datasets/br_fgv_igp/utils.py
Labels: data

#210 uncommenting update_dataset
  pipelines/datasets/br_fgv_igp/flows.py
Labels: data, conflict

#221 br_bd_metadados
  pipelines/datasets/__init__.py
  pipelines/datasets/br_bd_indicadores/flows.py
  pipelines/datasets/br_bd_indicadores/schedules.py
  pipelines/datasets/br_bd_indicadores/tasks.py
  pipelines/datasets/br_bd_indicadores/utils.py
  pipelines/datasets/br_bd_metadados/__init__.py
  pipelines/datasets/br_bd_metadados/flows.py
  pipelines/datasets/br_bd_metadados/schedules.py
  pipelines/datasets/br_bd_metadados/tasks.py
  pipelines/datasets/br_bd_metadados/utils.py
  pipelines/datasets/br_ibge_pnadc/tasks.py
Labels: conflict
