Repository basedosdados/pipelines, pull requests merged in 2023-09, with the labels that each got.

#425 br_ms_cnes
  pipelines/datasets/br_anp_precos_combustiveis/schedules.py
  pipelines/datasets/br_ms_cnes/constants.py
  pipelines/datasets/br_ms_cnes/flows.py
  pipelines/datasets/br_ms_cnes/schedules.py
  pipelines/datasets/br_ms_cnes/tasks.py
  pipelines/datasets/br_ms_cnes/utils.py
Labels: data, conflict

#455 `br_rf_cafir`
  pipelines/datasets/__init__.py
  pipelines/datasets/br_bcb_estban/flows.py
  pipelines/datasets/br_rf_cafir/constants.py
  pipelines/datasets/br_rf_cafir/flows.py
  pipelines/datasets/br_rf_cafir/schedules.py
  pipelines/datasets/br_rf_cafir/tasks.py
  pipelines/datasets/br_rf_cafir/utils.py
Labels: data

#448 [pipelines] br_mg_belohorizonte_smfa_iptu
  pipelines/datasets/__init__.py
  pipelines/datasets/br_mg_belohorizonte_smfa_iptu/__init__.py
  pipelines/datasets/br_mg_belohorizonte_smfa_iptu/constants.py
  pipelines/datasets/br_mg_belohorizonte_smfa_iptu/flows.py
  pipelines/datasets/br_mg_belohorizonte_smfa_iptu/schedules.py
  pipelines/datasets/br_mg_belohorizonte_smfa_iptu/tasks.py
  pipelines/datasets/br_mg_belohorizonte_smfa_iptu/utils.py
  pyproject.toml
Labels: conflict
