Repository basedosdados/pipelines, pull requests merged in 2023-07, with the labels that each got.

#333 [feat] temporal_coverage_updater
  pipelines/utils/__init__.py
  pipelines/utils/tasks.py
  pipelines/utils/temporal_coverage_updater/__init__.py
  pipelines/utils/temporal_coverage_updater/constants.py
  pipelines/utils/temporal_coverage_updater/flows.py
  pipelines/utils/temporal_coverage_updater/schedules.py
  pipelines/utils/temporal_coverage_updater/tasks.py
  pipelines/utils/temporal_coverage_updater/utils.py
  pipelines/utils/utils.py
Labels: enhancement

#309 [feat] br_anatel_telefonia_movel
  pipelines/datasets/__init__.py
  pipelines/datasets/br_anatel_telefonia_movel/__init__.py
  pipelines/datasets/br_anatel_telefonia_movel/constants.py
  pipelines/datasets/br_anatel_telefonia_movel/flows.py
  pipelines/datasets/br_anatel_telefonia_movel/schedules.py
  pipelines/datasets/br_anatel_telefonia_movel/tasks.py
  pipelines/datasets/br_anatel_telefonia_movel/utils.py
  pipelines/utils/temporal_coverage_updater/flows.py
Labels: data

#373 br_bcb_agencia
  pipelines/datasets/br_bcb_agencia/flows.py
  pipelines/datasets/br_bcb_agencia/schedules.py
  pipelines/datasets/br_bcb_agencia/tasks.py
  pipelines/utils/tasks.py
  pipelines/utils/utils.py
Labels: enhancement, data

#374 br_bcb_estban
  pipelines/datasets/br_bcb_estban/flows.py
  pipelines/datasets/br_bcb_estban/schedules.py
Labels: data

#386 br_me_comex_stat
  pipelines/datasets/__init__.py
  pipelines/datasets/br_me_comex_stat/flows.py
  pipelines/datasets/br_me_comex_stat/schedules.py
  pipelines/datasets/br_me_comex_stat/tasks.py
  pipelines/datasets/br_me_comex_stat/utils.py
Labels: data

#320 [fix] def to_partitions
  pipelines/utils/utils.py
Labels: enhancement

#376 br_ons
  pipelines/datasets/br_ons_avaliacao_operacao/flows.py
  pipelines/datasets/br_ons_avaliacao_operacao/schedules.py
  pipelines/datasets/br_ons_avaliacao_operacao/tasks.py
  pipelines/datasets/br_ons_estimativa_custos/flows.py
  pipelines/datasets/br_ons_estimativa_custos/schedules.py
  pipelines/datasets/br_ons_estimativa_custos/tasks.py
  pipelines/utils/tasks.py
  pipelines/utils/utils.py
Labels: data
