Repository basedosdados/pipelines, pull requests merged in 2023-06, with the labels that each got.

#324 [dados] br_ons_estimativa_custos
  pipelines/datasets/__init__.py
  pipelines/datasets/br_ons_estimativa_custos/__init__.py
  pipelines/datasets/br_ons_estimativa_custos/constants.py
  pipelines/datasets/br_ons_estimativa_custos/flows.py
  pipelines/datasets/br_ons_estimativa_custos/schedules.py
  pipelines/datasets/br_ons_estimativa_custos/tasks.py
  pipelines/datasets/br_ons_estimativa_custos/utils.py
Labels: data

#323 [dados] br_ons_avaliacao_operacao
  pipelines/datasets/__init__.py
  pipelines/datasets/br_ons_avaliacao_operacao/__init__.py
  pipelines/datasets/br_ons_avaliacao_operacao/constants.py
  pipelines/datasets/br_ons_avaliacao_operacao/flows.py
  pipelines/datasets/br_ons_avaliacao_operacao/schedules.py
  pipelines/datasets/br_ons_avaliacao_operacao/tasks.py
  pipelines/datasets/br_ons_avaliacao_operacao/utils.py
Labels: data

#310 [DRAFT] Create br_denatran_frota pipeline
  .gitignore
  .pre-commit-config.yaml
  br_denatran_frota/README.md
  br_denatran_frota/code/__init__.py
  br_denatran_frota/code/constants.py
  br_denatran_frota/code/download_frota.R
  br_denatran_frota/code/download_frota.py
  br_denatran_frota/code/download_frota_old.R
  br_denatran_frota/code/frota_municipio_tipo.R
  br_denatran_frota/code/frota_municipio_tipo.py
  br_denatran_frota/code/frota_uf_tipo.R
  br_denatran_frota/code/frota_uf_tipo.py
  br_denatran_frota/code/setup.py
  br_denatran_frota/code/test/download_frota_integration_test.py
  br_denatran_frota/code/test_drive.ipynb
  br_denatran_frota/code/utils.R
  br_denatran_frota/code/utils.py
  br_denatran_frota/dataset_config.yaml
  br_denatran_frota/municipio_tipo/publish.sql
  br_denatran_frota/municipio_tipo/schema-prod.json
  br_denatran_frota/municipio_tipo/schema-staging.json
  br_denatran_frota/municipio_tipo/table_config.yaml
  br_denatran_frota/municipio_tipo/table_description.txt
  br_denatran_frota/uf_tipo/publish.sql
  br_denatran_frota/uf_tipo/schema-prod.json
  br_denatran_frota/uf_tipo/table_config.yaml
  br_denatran_frota/uf_tipo/table_description.txt
  pipelines/datasets/__init__.py
  pipelines/datasets/br_denatran_frota/__init__.py
  pipelines/datasets/br_denatran_frota/constants.py
  pipelines/datasets/br_denatran_frota/flows.py
  pipelines/datasets/br_denatran_frota/functions_test.py
  pipelines/datasets/br_denatran_frota/handlers.py
  pipelines/datasets/br_denatran_frota/run.py
  pipelines/datasets/br_denatran_frota/schedules.py
  pipelines/datasets/br_denatran_frota/tasks.py
  pipelines/datasets/br_denatran_frota/tasks_test.py
  pipelines/datasets/br_denatran_frota/teste.xls
  pipelines/datasets/br_denatran_frota/trash.ipynb
  pipelines/datasets/br_denatran_frota/utils.py
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: conflict

#306 br_rj_isp_estatisticas_seguranca
  pipelines/datasets/__init__.py
  pipelines/datasets/br_rj_isp_estatisticas_seguranca/__init__.py
  pipelines/datasets/br_rj_isp_estatisticas_seguranca/constants.py
  pipelines/datasets/br_rj_isp_estatisticas_seguranca/flows.py
  pipelines/datasets/br_rj_isp_estatisticas_seguranca/schedules.py
  pipelines/datasets/br_rj_isp_estatisticas_seguranca/tasks.py
  pipelines/datasets/br_rj_isp_estatisticas_seguranca/utils.py
Labels: data, conflict
