Repository basedosdados/pipelines, pull requests merged in 2025-05, with the labels that each got.

#981 Migration: test table approve (2)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#984 Migration: test table approve (5)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#985 Migration: test table approve (6)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#990 Migration: test table approve (8)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#991 Migration: test table approve (9)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#994 migration test table approve (10)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#995 migration test table approve (11)
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#1003 migration test table approve 13
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#1004 Migration: test table approve (14)
  .github/workflows/scripts/table_test.py
  .github/workflows/scripts/utils.py
  models/test_dataset/schema.yml
  pipelines/utils/execute_dbt_model/flows.py
  pipelines/utils/execute_dbt_model/tasks.py
Labels: test-dev-model, table-approve

#1007 migration-test: test table-approve and test-dbt-dev-model
  models/test_dataset/schema.yml
  models/test_dataset/test_dataset__test_table.sql
Labels: test-dev-model, table-approve

#1011 migration-test-prod: fix table_approve
  .github/workflows/cd-staging.yaml
  .github/workflows/scripts/table_approve.py
  models/test_dataset/test_dataset__test_table.sql
Labels: table-approve

#1013 table-approve: fix gql.transport.exceptions.TransportQueryError
  .github/workflows/scripts/table_approve.py
  .github/workflows/scripts/utils.py
  models/test_dataset/test_dataset__test_table.sql
Labels: test-dev-model, table-approve

#1020 [chore]: deploy-production register only modified flows
  .github/workflows/cd.yaml
  .github/workflows/scripts/register_flows.py
Labels: conflict

#1090 [Update] br_ibge_pam
  models/br_ibge_pam/br_ibge_pam__lavoura_permanente.sql
  models/br_ibge_pam/br_ibge_pam__lavoura_temporaria.sql
Labels: table-approve

#1102 [update]: br_inep_sinopse_estatistica_educacao_basica tabela docentes
  models/br_inep_sinopse_estatistica_educacao_basica/br_inep_sinopse_estatistica_educacao_basica__docente_deficiencia.sql
  models/br_inep_sinopse_estatistica_educacao_basica/br_inep_sinopse_estatistica_educacao_basica__docente_escolaridade.sql
  models/br_inep_sinopse_estatistica_educacao_basica/br_inep_sinopse_estatistica_educacao_basica__docente_etapa_ensino.sql
  models/br_inep_sinopse_estatistica_educacao_basica/br_inep_sinopse_estatistica_educacao_basica__docente_faixa_etaria_sexo.sql
  models/br_inep_sinopse_estatistica_educacao_basica/br_inep_sinopse_estatistica_educacao_basica__docente_localizacao.sql
  models/br_inep_sinopse_estatistica_educacao_basica/br_inep_sinopse_estatistica_educacao_basica__docente_regime_contrato.sql
  models/br_inep_sinopse_estatistica_educacao_basica/code/sinopse_2024.py
  models/br_inep_sinopse_estatistica_educacao_basica/schema.yml
Labels: test-dev-model, table-approve

#1109 [bugfix]: prefect_run_dbt Backend graphql_url
  .github/workflows/scripts/prefect_run_dbt.py
  models/br_inep_censo_escolar/br_inep_censo_escolar__escola.sql
  models/br_inep_censo_escolar/br_inep_censo_escolar__escola_2024.sql
Labels: table-approve
